{% if settings.enable_tags %}
	{%- if settings.tags_allowed_on_frontend != blank -%}
	  {% assign allowed_tags  = settings.tags_allowed_on_frontend | downcase | split: "," | uniq | remove: '' %} 
	  {% assign allowed_tags_count  = settings.tags_allowed_count| plus: 0 %} 
          <div class="product-tags">
             {%- assign count = 1 -%}
            {% for tag in product.tags %}
              {%- if tag contains '__tag:' and count <= allowed_tags_count -%}
            	{% assign tag_label =  tag | downcase | split: '__tag:' | last %}
            	{%- if allowed_tags contains tag_label -%}  
            		<span><a href="/collections/all/{{ tag | handleize }}">{{ tag_label | capitalize }}</a></span>
            		{% assign count = count | plus:1 %}
             	 {% endif %}
              {%- endif -%}              
            {% endfor %}
          </div>
	{% endif %}
{% endif %}