<style>
  .content-collepse{
   display:none;
  }
  .collpse-accoridian{
    border-top:1px solid #000;
  }
  .collpse-accoridian:last-child{
    border-bottom:1px solid #000;
  }

  .collpse-accoridian .hdng-t{
      /*font-size: 16px;*/
      font-weight: 500;
      margin: 0px;
      padding: 15px 0px;
      position:relative;
    	cursor:pointer;
      padding-right: 20px;
  }
  .collpse-accoridian .hdng-t:before{
   	content: "";
      position: absolute;
      width: 12px;
      height: 2px;
      background: #000;
      right: 0px;
      top: 50%;
      transform: translate(0px, -50%);
  }

  .collpse-accoridian .hdng-t:after{
   	content: "";
      position: absolute;
      width: 2px;
      height: 12px;
      background: #000;
      right: 5px;
      top: 50%;
      transform: translate(0px, -50%);
  }
  .collpse-accoridian .hdng-t.active:after{
   display:none;
  }
  .collpse-accoridian .content-collepse{
    margin-top:-10px;
  }
  .collpse-accoridian .content-collepse p{
    /*font-size:14px;*/
    margin-bottom:20px;
  }
  .collpse-accoridian .content-collepse2{
    margin-top:-10px;
  }
  .collpse-accoridian .content-collepse2 p{
    /*font-size:14px;*/
    margin-bottom:20px;
  }
  .your-qution-section{
    padding:60px 0px;
    background: #F3EDE5;
  }
  .your-qution-section .heading-bx p{
   /*font-size:14px;*/
    font-weight:500;
    margin-bottom:0px;
  }
  .content-collepse2{
   display:none;
  }
  .your-question .collpse-accoridian {
      border-top: 1px solid #b1b1b1;
  }
  .your-question .collpse-accoridian:last-child {
      border-bottom: 1px solid #b1b1b1;
  }
  .your-question .collpse-accoridian .hdng-t:before{
   top:34%;
    background: none;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    width: 12px;
    height: 12px;
    transform: rotate(224deg);
  }
  .your-question .collpse-accoridian .hdng-t.active:before{
    transform: rotate(44deg);
  }
  .your-question .collpse-accoridian .hdng-t:after{
    display:none;
  }
  .your-qution-section{
   position:relative;
  }
  .help-content{
    text-align:center;
  }
  .help-box{
   padding:30px;
    background: #F3EDE5;
  }
  .help-inner{
    border:1px solid #000;
    padding:80px 20px;

  }
  .inner-gap-help{
    width:70%;
    margin:0px auto;
    text-align:center;
  }
  .inner-gap-help .section__title{
  justify-content: center;
  }
  .help-content2 p{
    font-size:14px;
    margin-bottom:15px;
  }
  .help-content2 p:last-child{
   margin-bottom:0px;
  }

  .help-content-section{
   background:#fff;
    padding:60px 0px;
  }
  .product-descrip{
    padding-bottom:60px;
  }
  .product-descrip .collpse-accoridian .hdng-t{
    /*font-size:14px;*/
  }
  .collpse-accoridian .content-collepse2 p{
    /*font-size:13px;*/
  }
  .your-question.product-descrip .collpse-accoridian .hdng-t:before {
      top: 41%;
      background: none;
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      width: 8px;
      height: 8px;
  }
  .your-question.product-descrip .collpse-accoridian .hdng-t.active:before{
    transform: rotate(46deg);
  }
  .collpse-accoridian .content-collepse2 ul li {
  /*font-size: 13px;*/
      list-style: none;
      padding-left: 15px;
      position: relative;
      margin-bottom: 15px;
      line-height: 23px;
  }
  .collpse-accoridian .content-collepse2 ul li:after{
  content: "";
      position: absolute;
      top: 9px;
      left: 0px;
      width: 6px;
      height: 6px;
      border-radius: 30px;
      background: #000;
  }
   .homepage__title{text-align: center;
    font-weight: bold;
    color: #b89c7d;
    font-size:18px;}
</style>
<section class="section quick_links collection">
  <div class="container">
    <div class="content-wrapper">
      <h1 class="homepage__title heading" >
        “One-stop Solution for Natural, Organic and Eco-friendly Products”
      </h1>
      <p>
        The conversation around conserving the environment and protecting and preserving natural resources is gaining
        momentum globally. With a complete misuse and depletion of the earth’s resources, it’s time that our lifestyles
        become such that we incorporate <b>eco-friendly products</b> that are <b>locally sourced and sustainable</b>. 
      </p>
      <p>
        Amala Earth is a one-stop market place that enables conscious consumer choices with over 45,000 products. It gives
        great importance to a value-based community of like-minded individuals. We treasure the authenticity of locally
        sourced products that are conscious alternatives to be used at home and around us. At Amala Earth, responsible
        choices are supported and transformation is embraced. The idea is to bring together all brands, products, experts
        and consumers on a common platform to drive a change in consumption patterns of individuals and enable them to
       incorporate <b>organic products, eco friendly products and locally sourced products</b> in everyday living.
      </p>

      <p>
        The way forward is to evolve as a collective movement that will be the driving force in transforming consumer behavioural
        patterns by providing alternative solutions for an earth friendly lifestyle.
      </p>
      <div class="your-question product-descrip">
        <div class="set-tab2 collpse-accoridian">
          <h3 class="hdng-t active">What do we stand for?</h3>
          <div class="content-collepse2">
            <p>
              Amala Earth strives to not just be a brand for selling earth-friendly and consciously manufactured products.
              Instead, the holistic vision is to inspire the idea of a fresh perspective towards a mindful lifestyle. The
              platform seeks to sensitise people towards a lifestyle that enables and empowers them to make an actual difference
              in preserving and conserving natural resources. 
            </p>
            <p>India is a diverse potpourri of cultures, colours, communities and cuisines that makes it a perfect example of a
              unique sub-continent co-existing in harmony with the rhythms of nature. The country has a wealth of niche labels with
              mindfully curated products at its core. Amala Earth gathers them under one umbrella and gives conscious shoppers access
              to a range of products. Paving the way forward, Amala Earth has a distinguished and stellar collection of products that span
              the realm of <b><a href="https://amala.earth/collections/responsible-fashion"> sustainable clothing </a>, sustainable fashion,
              handmade home decor items, handmade jewellery, <a href="https://amala.earth/collections/makeup-and-nails">natural skin care</a>,
              organic products</b> and so much more. Plus, there are unique products for personal care, child care, plantable stationery and
              <b><a href="https://amala.earth/collections/pet-care"> pet grooming </a></b> products that serve different purposes. Amala Earth strongly supports and promotes local farmers, artisans and
              ancillary communities, who produce <b>handcrafted, handwoven and handmade products.</b></p>           
            <p>
              The name Amala is derived from the Sanskrit word, ‘amal’ which means ‘clean and pure’. Moreover, our name is also inspired by Amala Consciousness, often known
              as the highest form of purity in Buddhism.
            </p>
            <p>
              Thus, the goal of Amala Earth is to provide a space where transformation is encouraged and a community of responsible individuals come together to create and implement
              everything that is healthy for all life forms and our planet. It tries to achieve that by offering better alternative solutions for a <b>sustainable lifestyle</b>.
            </p>
          </div>
        </div>
        <div class="set-tab2 collpse-accoridian">
          <h3 class="hdng-t">Our Ethos</h3>
          <div class="content-collepse2">
            <p>
              Our ethos of Amala Earth is all about being conscious of our platform’s role in caring for our community of conscious
              consumers as well as our planet, the earth. We are blessed by the bounties of nature on this beautiful planet. By creating
              a one-stop marketplace for all products and brands which are either moving towards or striving to be more <b>eco friendly and
              sustainable</b>, this is our way of doing our bit.
            </p>
            <p>If we were to define Amala Earth through some values, then we identify with the following terms:</p>
            <ul>
              <li>
                <strong>Conscious Community</strong>: This is all about initiating conversations between like-minded and
                conscious individuals who are gradually embarking towards and earth-friendly way of living by making
               <b> sustainable clothing, sustainable fashion, handmade home decor items, handmade jewellery, natural skin
                care, organic products</b> a part and parcel of their every existence.
              </li>
              <li>
                <strong>Authentic</strong>: Amala Earth prides itself in the authenticity of the idea to curate brands
                that are all about<b><a href="https://amala.earth/collections/grains-and-pulses"> organic products </a>, eco-friendly products and locally sourced products</b>.
              </li>
              <li>
                <strong>Responsible</strong>: What if we were to choose<strong>
                  <a href="https://amala.earth/collections/makeup-and-nails">chemical-free makeup</a></strong
                >
                products over regular makeup or <b>sustainable fashion and organic clothing</b> over fast consumerism? That
                makes us responsible in terms of the consumption choices that we make. And, the entire point of
                developing a platform like Amala Earth is to remind individuals, be it the producers or the consumers,
                of their responsibility towards each other and the environment.
              </li>
              <li>
                <strong>Local</strong>: We take immense pride in the fact that all our brands meet stringent criteria to
                be included on our platform and we make sure to procure from local vendors or producers.<b> Locally sourced
                products</b>, handmade products and organic products are the mainstay of Amala Earth.
              </li>
            </ul>
            <p>
              <strong>Trustworthy</strong>: Owing to our endeavour of staying true to our Indian roots, as a trustworthy
              marketplace, Amala Earth only engages with sellers or entrepreneurs who share our vision of promoting
              sustainable and organic products. We respect brands and manufacturers, who believe in working in a
              transparent and trustworthy manner in terms of their entire production cycle.
            </p>
          </div>
        </div>
        <div class="set-tab2 collpse-accoridian">
          <h3 class="hdng-t">The Three pillars of Amala Earth</h3>
          <div class="content-collepse2">
            <p>Our three pillars are completely synonymous with our USP.</p>

            <ul>
              <li>
                <strong>Earth-friendly living:</strong>: Our legacy for the future in this point of time is our planet,
                the Earth. What if, as conscious beings, as individuals, who care about the earth, we make small changes
                in our day-to-day living? What if we decide to slowly and steadily adopt and adapt to a lifestyle that
                is attuned to the ecosystem? What if these baby steps towards a mindful and meaningful consumption
                pattern eventually make a difference to the overall scheme of things?
              </li>
              <p>
                Therefore, Amala Earth came into being to create a platform where individuals are encouraged to make
                responsible choices and promote healthy and conscious living. We offer earth-friendly alternatives for
                embracing a sustainable lifestyle. These are products that include chemical-free makeup and
                <strong>
                  <a href="https://amala.earth/collections/beauty-and-bath-essentials"> beauty products </a></strong
                >, linen and cotton clothes, sustainable fashion, handmade home décor, handmade jewellery and so on.
              </p>
              <li>
                <strong>Curated marketplace</strong>: Amala Earth is a curated marketplace that is all about all things
                earth-friendly spanning across so many diverse categories. These incorporate fashion, beauty, makeup,
                <strong><a href="https://amala.earth/collections/eco-friendly-gifts">eco friendly gifts</a></strong
                >, home décor, organic food products, and many more options that are unique and beautiful.
              </li>
              <li>
                <strong>Conscious community</strong>: Conscious consumers are more aware of the environmental and social
                impacts of their purchases. It has been observed that they prefer to buy products that are organic,
                eco-friendly or both. In order to be a conscious consumer, you must try to use products that are organic
                and eco-friendly. These products don&#39;t contribute to pollution or harm the planet in any way. At
                Amala Earth you will find plenty of choices for such products.
              </li>
            </ul>
          </div>
        </div>
        <div class="set-tab2 collpse-accoridian">
          <h3 class="hdng-t">Key features of Amala Earth</h3>
          <div class="content-collepse2">
            <p>Here are the key features of Amala Earth which help consumers understand our USPs.</p>

            <ul>
              <li>
                <strong>Organic</strong>: The Amala Earth website is a platform for people to buy organic products.
                We have an extensive range of products from food, beauty and wellness, personal care, pet care and more.
                We have always been committed to providing their customers with a sustainable lifestyle. Organic products
                like<b> cruelty free makeup, organic skincare products</b> are becoming increasingly popular in the market these days
                because they are natural and safe for us. Plus, organic products are chemical free, eco friendly and completely
                plastic free.
              </li>
              <li>
                <strong>Eco-friendly: </strong>How does one define products that are eco friendly? These are products that do not cause any major damage
                to the environment. Any product made from natural or organic materials and where processes that are sustainable have been used from beginning
                to end are considered eco friendly products.
              </li>
              <li>
                <strong>Ethically sourced: </strong>It is important that brands promote sustainable products and produce them using ethical means. The entire supply chain of the brand business right from sourcing raw materials to packaging and delivery should be done in a clean and green manner. The USP of Amala Earth is that we partner only with ethical brands only.
              <li>
                <strong>Locally sourced:</strong> Amala Earth takes pride in ensuring that all brands deploy locally sourced ingredients that go a long way in reducing the overall carbon footprint of our consumption. So what does locally sourced imply? Locally sourced raw materials are usually purchased from a farmer or any other small-scale producer. In this manner, we encourage consumers to connect with their Indian roots.
              </li>
              <li>
                <strong>Fair trade: </strong> Amala Earth is a company that believes in sustainable practices and fair trade. They are against exploitative trade practices and believe in doing trade on fair terms.
              </li>
              <li>
                <strong>Natural fibres: </strong>Natural fibres or materials denote fabric or ingredients that are plant-based, chemical-free and very safe for babies and adults. All products featured on our platform, be it clothing, home décor, kitchen accessories and so on are crafted in natural materials that are earth-friendly.
              </li>
              <li>
                <strong>Biodegradable packaging: </strong>The final packaging in which the product is delivered to the consumer is biodegradable. In other words, unlike plastic, the packaging is made from upcycled paper and is safe for the environment.
              </li>
            </ul>

            <p>
              <strong>Artisan-led: </strong>Amala Earth takes pride in selling things that are crafted with a lot of care and affection by artisans who are skilled and adept in their respective craft. The idea is to offer them a sustainable platform for protecting their livelihood and enable consumers to use items that reconnect them to their culture.  
            </p>
          </div>
        </div>

        <div class="set-tab2 collpse-accoridian">
          <h3 class="hdng-t">Product categories</h3>
          <div class="content-collepse2">
            <ul>
              <li>
                <strong><h2>Mindful eating :</h2></strong> Discover our<strong
                  ><a href="https://amala.earth/pages/mindful-eating"> Mindful Eating </a> </strong
                >category, with plant-based, organic, vegan, keto-friendly, gluten-free and so many more options for
                nourishment and well-being.
              </li>
              <li>
                <strong><h2>Ethical beauty :</h2></strong> Our
                <strong><a href="https://amala.earth/pages/ethical-beauty">Ethical Beauty</a></strong> section is
                dedicated to self-care products that span beauty, hair, skin care and other options. What makes these
                products distinct is that they are created from naturally sourced ingredients that are kind to you and
                to the earth.Ethical beauty includes<b> natural skincare products, natural makeup </b>and hair care products. 
              </li>
              <li>
                <strong><h2>Joyful home :</h2></strong> Earth-friendly living can be manifested through our
                <strong> <a href="https://amala.earth/pages/joyful-home">Joyful Homes</a> </strong> category. Here you
                can find conscious home products are made from restorative, reclaimed and materials sourced from natural
                elements.These <b>sustainable products</b> emphasize on sparking joy and positivity in your home for earth-friendly living. 
              </li>
              <li>
                <strong><h2>Responsible fashion :</h2></strong> Responsible Fashion, as the term suggests, is about making conscious fashion choices.
                On offer are garments and accessories crafted in  handwoven, natural and upcycled fabrics and materials. You can choose from<b> pure linen sarees, pure linen shirts</b> etc. and accessories to accentuate the look with belts, sunglasses and more.
              </li>
              <li>
                <strong><h2>Conscious family :</h2></strong> This special category of Conscious Family includes
                <strong><a href="https://amala.earth/pages/baby">organic baby products</a></strong> and
                <strong><a href="https://amala.earth/pages/children">organic children’s products</a></strong> products
                across all categories that are safe and comfortable.
              </li>
              <li>
                <strong><h2>Feel-good Others:</h2></strong>This category comprises earth-friendly and<strong
                  ><a href="https://amala.earth/collections/feel-good-others"> natural lifestyle products</a></strong
                >
                such as pet care, stationery, books, health supplements, yoga accessories and much more. We ensure that
                you Feel Good in all seasons for all reasons.
              </li>
              <li>
                <strong><h2>Holistic Wellness:</h2></strong> An earth-friendly lifestyle encompasses
                <strong><a href="https://amala.earth/collections/holistic-wellness">Holistic Wellness</a></strong> and
                in this category, you will find supplements, immunity-boosters, digestives and many related products
                that are curated keeping your wellbeing and health in mind.
              </li>
              <li>
                <strong><h2>Gifts:</h2></strong> For mindful and
                <strong><a href="https://amala.earth/collections/gifts">purposeful gifting </a></strong> options, view
                our <b><a href="https://amala.earth/collections/eco-friendly-gifts">eco friendly Gifts</a></b> section and make every occasion a reason to be more earth-friendly and conscious towards the
                environment.
              </li>
              <li>
                <strong><h2>Festivals:</h2></strong> Celebrations are such an integral part of our rich Indian culture.
                Our festival curations are done with the aim of providing you with handcrafted, artistic, traditional
                and artisanal pooja and décor items, and much more.
              </li>
            </ul>            
            <p>
              At Amala Earth, we are striving to go beyond words and adjectives centred around sustainability and
              environmental conservation. Our endeavour is to empower consumers to make an earth-friendly lifestyle more
              inclusive and holistic to include a larger narrative. This involves an organic transformation towards
              living a life that is reflective, meaningful, mindful and more satisfying.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    window.addEventListener('load',function(){

   $(".set-tab .hdng-t").on("click", function() {
      if ($(this).hasClass("active")) {
        $(this).removeClass("active");
        $(this)
          .siblings(".content-collepse")
          .slideUp(100);
      } else {
        $(".set-tab .hdng-t").removeClass("active");
        $(this).addClass("active");
        $(".content-collepse").slideUp(200);
        $(this)
          .siblings(".content-collepse")
          .slideDown(100);
      }
    });

    $(".set-tab2 .hdng-t").on("click", function() {
      if ($(this).hasClass("active")) {
        $(this).removeClass("active");
        $(this)
          .siblings(".content-collepse2")
          .slideUp(100);
      } else {
        $(".set-tab2 .hdng-t").removeClass("active");
        $(this).addClass("active");
        $(".content-collepse2").slideUp(200);
        $(this)
          .siblings(".content-collepse2")
          .slideDown(100);
      }
    });

  });
</script>
