{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<div class="container container--narrow">
  <div class="my-account__header">
    <a href="/account/" class="back_link">
      <img src="{{ 'back_arrow.svg' | asset_url }}" alt="back">
    </a>
    <h2 class="heading h2">{{ page.title }}</h2>
  </div>
</div>