<section class="desktop-banner">
  <div class="container-fluid">
    <a href="https://amala.earth/collections/diwali"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/1Diwali-Homepage_desktop-version_1920x1080_d7e6308e-2238-4411-98c2-781ca3fc28d1.jpg?v=1664860119" 
           alt="a cute kitten"></a>    
    <section class="diwali-section-third">
        <div class="grid-container">
        <div><a href="https://amala.earth/collections/women-festive-wear"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/2Diwali-Homepage_desktop-version_1920x1080_1.jpg?v=1663586461" 
           alt="a cute kitten"></a></div>
        <div><a href="https://amala.earth/collections/kids-festive-wear"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/3Diwali-Homepage_desktop-version_1920x1080_1.jpg?v=1663586459"></a></div>
        <div><a href="https://amala.earth/collections/men-festive-wear"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/4Diwali-Homepage_desktop-version_1920x1080_V2.jpg?v=1663587213"></a></div> 
        </div>
    </section>

    <a href="https://amala.earth/collections/diwali-gift-hampers"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/5Diwali-Homepage_desktop-version_1920x1080_1.jpg?v=1663586468" 
           alt="a cute kitten"></a>
    <a href="https://amala.earth/collections/dhanteras-kitchen-essentials"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/6Diwali-Homepage_desktop-version_1920x1080_1.jpg?v=1663586470" 
           alt="a cute kitten"></a>
    <a href="https://amala.earth/collections/diwali-home-decor"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/7Diwali-Homepage_desktop-version_1920x1080_1.jpg?v=1663586464" 
           alt="a cute kitten"></a>
    <a href="https://amala.earth/collections/diyas-candles"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/8Diwali-Homepage_desktop-version_1920x1080_ebf6c172-56ed-47b1-b45f-7b0cd24e6a00.jpg?v=1663586461" 
           alt="a cute kitten"></a>
    <a href="https://amala.earth/collections/diwali-cleaning-essentials"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/9Diwali-Homepage_desktop-version_1920x1080_V2.jpg?v=1663587916" 
           alt="a cute kitten"></a>
    <a href="https://amala.earth/collections/diwali-bulk-gifting"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/10Diwali-Homepage_desktop-version_1920x1080_816c7b42-be3c-4b33-b20a-d2299f884b5a.jpg?v=1663586451" 
           alt="a cute kitten"></a>
    <a href="https://amala.earth/collections/pooja-essentials"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/11Diwali-Homepage_desktop-version_1920x1080_de0d8379-0815-4a7d-aa71-b26888db766d.jpg?v=1663586457" 
           alt="a cute kitten"></a>    
  </div>
</section>

<section class="mobile-banner">
  <div class="container-fluid">
    <a href="https://amala.earth/collections/diwali"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/1Diwali-Homepage_76aeeeb0-ff39-45b6-8bea-9604016a5901.jpg?v=1664859550" 
           alt="a cute kitten"></a>
    <a href="https://amala.earth/collections/women-festive-wear"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/2Diwali-Homepage_mobile-version_x2_a5c0ec5c-a20a-4763-abe1-3a322b59e4c7.jpg?v=1663334473" 
           alt="a cute kitten"></a>
    <section class="diwali-section-third">
        <div class="grid-container">
        <div><a href="https://amala.earth/collections/kids-festive-wear"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/3Diwali-Homepage_mobile-version_x2_f285de91-8011-4ea1-8757-575072c8fdee.jpg?v=1663335369"></a></div>
        <div><a href="https://amala.earth/collections/men-festive-wear"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/4Diwali-Homepage_mobile-version_x2_552d25a6-6c41-4368-9a55-6cb4fa5a8085.jpg?v=1663335369"></a></div> 
        </div>
    </section>

    <a href="https://amala.earth/collections/diwali-gift-hampers"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/5Diwali-Homepage_mobile-version_x2_d746cf22-6abc-4a41-866c-55429c02e0f4.jpg?v=1663335369" 
           alt="a cute kitten"></a>
    <a href="https://amala.earth/collections/dhanteras-kitchen-essentials"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/6Diwali-Homepage_mobile-version_x2_aec243eb-862f-4783-99f7-407111ee184e.jpg?v=1663335370" 
           alt="a cute kitten"></a>
    <a href="https://amala.earth/collections/diwali-home-decor"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/7Diwali-Homepage_mobile-version_x2_d71e40e9-ad83-4714-94e5-46d80c78e3f5.jpg?v=1663335369" 
           alt="a cute kitten"></a>
    <a href="https://amala.earth/collections/diyas-candles"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/8Diwali-Homepage_mobile-version_x2_10179bcf-2980-45c3-b023-26f0fec34537.jpg?v=1663335369" 
           alt="a cute kitten"></a>
    <a href="https://amala.earth/collections/diwali-cleaning-essentials"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/9Diwali-Homepage_mobile-version_x2_aa1bbe85-5d1e-41fd-ab64-3ddb204c55d5.jpg?v=1663335368" 
           alt="a cute kitten"></a>
    <a href="https://amala.earth/collections/diwali-bulk-gifting"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/10Diwali-Homepage_mobile-version_x2_d01207ed-c34a-42ff-b2c6-fe0a123a862c.jpg?v=1663335369" 
           alt="a cute kitten"></a>
    <a href="https://amala.earth/collections/pooja-essentials"><img src="https://cdn.shopify.com/s/files/1/0523/3252/7770/files/11Diwali-Homepage_mobile-version_x2_016595f2-f435-4a19-8503-2e66bdbc4daf.jpg?v=1663335368" 
           alt="a cute kitten"></a>    
  </div>
</section>
{% section 'video-slider' %}
{% section 'blog-posts' %}

<style>
  .banner-slider{margin-top:20px;margin-left:50px;margin-right:50px;}

  .diwali .scroller__inner {
     white-space: inherit; 
}
 .collection-list{text-align:center} 
  .diwali-section-third{display:inline-block;}
.grid-container {
  display: grid;
  align-content: space-around;
  grid-template-columns: auto auto auto;
}
section.desktop-banner {
    text-align: center;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
  @media screen and (max-width: 768px ) {
    .desktop-banner{display:none}
  }
    @media screen and (min-width: 768px ) {
    .mobile-banner{display:none}
  }
</style>








